<ul>
    <li>ホーム</li>
    <li>話題を検索</li>
    <li>通知を検索</li>
    <li>通知</li>
    <li>メッセージ</li>
    <li>ブックマーク</li>
    <li>リスト</li>
    <li>プロフィール</li>
    <li>もっと見る</li>
    <li><%= link_to '新規追加', '/tweets/new' %></li>
</ul>